# Ambiente virtual
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos de build
build/
dist/
*.egg-info/

# Ignorar PNGs da raiz
/*.png

# EXCEÇÃO: permitir imagens da pasta assets
!assets/*.png